@tailwind base;
@tailwind components;
@tailwind utilities;


/* ===== GLOBAL DARK THEME ===== */

body {
  background: radial-gradient(
      circle at 20% 20%,
      rgba(0, 120, 255, 0.25),
      transparent 40%
    ),
    radial-gradient(
      circle at 80% 30%,
      rgba(0, 80, 255, 0.25),
      transparent 40%
    ),
    #020617;

  color: #e2e8f0;
  min-height: 100vh;

  margin: 0;
  padding: 0;
}
#root, html, body {
  height: 100%;
}
main {
  width: 100%;
}

/* ===== NEON GLOW EFFECT ===== */

.neon-card {
  background: rgba(15, 23, 42, 0.6);
  border: 1px solid rgba(59, 130, 246, 0.4);
  backdrop-filter: blur(10px);
  border-radius: 16px;
  box-shadow:
    0 0 10px rgba(59, 130, 246, 0.5),
    0 0 40px rgba(59, 130, 246, 0.2);
}


.neon-button {
  background: linear-gradient(90deg, #2563eb, #4f46e5);
  color: white;
  border-radius: 12px;
  padding: 10px 20px;
  font-weight: bold;
  box-shadow:
    0 0 10px #2563eb,
    0 0 20px #2563eb;
  transition: 0.2s;
}

.neon-button:hover {
  box-shadow:
    0 0 20px #2563eb,
    0 0 40px #2563eb;
  transform: scale(1.05);
}


/* ===== INPUT STYLE ===== */

.neon-input {
  background: #020617;
  border: 1px solid #2563eb;
  border-radius: 10px;
  color: white;
  padding: 12px;
}

.neon-input:focus {
  outline: none;
  box-shadow: 0 0 10px #2563eb;
}